{% extends "layout.html" %}

{% block body %}
  <form method="GET" action="{{ url_for('recipes_index') }}">
    <table>
      <tr>
        <td>
          {{ form.recipe_name.label }}
        </td>
        <td>
          {{ form.recipe_name }}
        </td>
        <td>
          <ul>
            {% for error in form.recipe_name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.min_rating.label }}
        </td>
        <td>
          {{ form.min_rating }}
        </td>
        <td>
          <ul>
            {% for error in form.min_rating.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.tag_name.label }}
        </td>
        <td>
          {{ form.tag_name }}
        </td>
        <td>
          <ul>
            {% for error in form.tag_name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <a class="btn btn-secondary" href="{{ url_for('recipes_index') }}" role="button">Clear</a>
        </td>
        <td>
          <button type="submit" class="btn btn-primary">Search</button>
        </td>
      </tr>
    </table>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Time (min)</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes %}
      <tr>
        <td>
          <a href="{{ url_for('recipe_view', recipe_id=recipe.id) }}">
            {{ recipe.name }}
          </a>
        </td>
        <td>{{ recipe.duration }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}