{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('recipes_create') }}">
  <label for="name">Name</label><br>
  <input type="text" name="name" id="name"/><br>
  <label for="duration">Time (min)</label><br>
  <input type="text" name="duration" id="duration"/><br>
  <label for="instructions">Instructions</label><br>
  <textarea name="instructions" id="instructions" rows="40" cols="70"></textarea><br>
  <input type="submit" value="Add a new recipe"/>
</form>
{% endblock %}