{% extends "layout.html" %}

{% block body %}
  <h1>{{ recipe.name }}</h1>
  <p>{{ recipe.duration }} min</p>
  {% for tag in recipe.tags %}
    <span class="badge badge-primary">{{ tag.name }}</span>
  {% endfor %}
  <p>{{ recipe.instructions }}</p>
  <p>Average rating: {{ rating }}</p>
  <div class="btn-toolbar" role="toolbar">
    <form method="POST" action="{{ url_for('review_create', recipe_id=recipe.id) }}">
      {{ form.rating.label }}
      {{ form.rating }}
      <input type="submit" value="Rate">
    </form>
    {% if review_exists %}
      <form method="POST" action="{{ url_for('review_delete', recipe_id=recipe.id) }}">
        <input type="submit" value="Remove"></button>
      </form>
    {% endif %}
  </div>
  {% if current_user.id == recipe.account_id %}
  <div class="row">
    <div class="col-sm-1">
      <form method="GET" action="{{ url_for('recipe_edit_form', recipe_id=recipe.id) }}">
        <button type="submit" class="btn btn-secondary">Edit</button>
      </form>
    </div>
    <div class="col-sm-1">
      <form method="POST" action="{{ url_for('recipe_delete', recipe_id=recipe.id) }}">
        <button type="submit" class="btn btn-danger">Remove</button>
      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}